body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 16px;
    word-wrap: break-word;
    word-break: break-all;
    margin: 0;
}

.divspace {
    margin-top: 5px
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
a {
    color: #34a0cc;
    text-decoration: none;
    cursor: pointer;
}

a:visited {
    color: #34a0cc;
    text-decoration: none;
}
a:hover {
    color: #34a0cc;
    text-decoration: underline;
}

p {
    margin: 0;
}

.tweet {
    margin: 10px 0;
}
.avatar {
    padding: 3px 0;
    float: left;
}
.content {
    line-height: 16px;
    margin: 0;
    padding: 0;
    margin-left: 60px;
}
.content-text {
    padding: 2px 0;
}

.signin-text {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

input {
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

#tweet-text {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#tweet-submit {
    width: 96px;
    height: 24px;
    margin: 5px 0px;
    padding: 0px;
}

hr {
    border: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.menu {
    position: fixed;
    width: 100%;
    background-color: white;
    line-height: 32px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.menu a {
    padding: 0 5px;
}

.menu-place {
    height: 32px;
}

.c1 {
    padding: 10px 5px;
    width: 640px;
    margin: 0 auto;
}

@media only screen and (max-width: 640px) {
.c1 {
    width: 100%;
    margin: 0 0;
}
}

.in_reply_to {
    font-size: 12px;
    line-height: 12px;
    color: #888;
}

.userinfo {
    padding-top: 3px;
    padding-bottom: 10px;
}

.form-group {
    margin-bottom: 5px;
}

.content img {
    max-width: 100%;
}