body {
    font-family: "Times", "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 5px;
    word-wrap: break-word; 
    word-break: break-all; 
}

.divspace {
    margin-top: 5px
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
a {
    color: #34a0cc;
    text-decoration: none;
    cursor: pointer;
}

a:visited {
    color: #34a0cc;
    text-decoration: none;
}
a:hover {
    color: #34a0cc;
    text-decoration: underline;
}

.avatar {
    padding: 3px 0;
    float: left;
}
.content {
    line-height: 16px;
    margin: 0;
    padding: 0;
    margin-left: 60px;
}
.content-text {
    padding: 5px 0;
}

#tweet-text {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#tweet-submit {
    font-size: 16px;
    width: 96px;
    height: 24px;
    margin: 5px 0px;
    padding: 0px;
}
