body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    margin: 5px;
    word-wrap: break-word;
    word-break: break-all;
}

.divspace {
    margin-top: 5px
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
a {
    color: #34a0cc;
    text-decoration: none;
    cursor: pointer;
}

a:visited {
    color: #34a0cc;
    text-decoration: none;
}
a:hover {
    color: #34a0cc;
    text-decoration: underline;
}


.tweet {
    margin: 10px 0;
}
.avatar {
    padding: 3px 0;
    float: left;
}
.content {
    line-height: 16px;
    margin: 0;
    padding: 0;
    margin-left: 60px;
}
.content-text {
    padding-top: 5px;
}
.content-via {
    font-size: 13px;
    padding-top: 2px;
    padding-bottom: 5px;
}

.signin-text {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

input {
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

#tweet-text {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#tweet-submit {
    width: 96px;
    height: 24px;
    margin: 5px 0px;
    padding: 0px;
}

		
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
