<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{{ template "head.tmpl" }}
<body>
  {{ template "menu.tmpl" .Type}}
  <div class="c1">
    {{ if eq .Type "Compose" }}
    Compose new Tweet
    {{ else }}
    {{ .Type }}
    {{ end }}
    <hr />
    {{ if .InReplyToTweet }}
    {{ template "tweet.tmpl" .InReplyToTweet }}
    <div class="in_reply_to">-- in relpy to &uarr; --</div>
    {{ end }}
    <form action="/update" method="post">
      <div class="divspace"><textarea class="form-control" name="text" rows="4">{{ .DefaultText }}</textarea></div>
      <div class="divspace">
        <button type="submit" class="btn btn-primary">Tweet</button>
        <a href="{{ .Referer }}"><button type="button" class="btn btn-default">Cancel</button></a>
      </div>
      <input name="in_reply_to" type="hidden" value="{{ .Referer }}" />
      {{ if eq .Type "Reply" }}
      <input name="in_reply_to" type="hidden" value="{{ .InReplyToTweet.Id }}" />
      {{ end }}
    </form>
  </div>
</body>
</html>
