<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{{ template "head.tmpl" }}
<body>
  {{ template "menu.tmpl" "Details"}}
  <div class="c1">
    {{ if .InReplyTo }}
    <div>{{ template "tweet.tmpl" .InReplyTo }}</div>
    <div class="in_reply_to">-- in relpy to &uarr; --</div>
    {{ end }}
    <div>
    {{ template "tweet.tmpl" .Tweet }}
    </div>
  </div>
</body>
</html>