<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{{ template "head.tmpl" }}
<body>
  {{ template "menu.tmpl" "Error" }}
  <div class="c1">
    <div>Error: {{ .Error }}</div>
    <div>&nbsp;</div>
    <div>Here are some suggestions:</div>
    <div>*. Go back or refresh this page.</div>
    <div>*. If the error still occurred, try to sign out and login again.</div>
  </div>
</body>
</html>
