<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, maximum-scale=1, minimal-scale=1, user-scalable=no" />
  <title>Madoka</title>
  <link rel="stylesheet" type="text/css" href="/static/madoka.css" />
</head>
