<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{{ template "head.tmpl" }}
<body>
  {{ template "menu.tmpl" "Remove" }}
  <div class="c1">
    <div class="divspace">Remove This Tweet?</div>
    <hr />
    {{ template "tweet.tmpl" .Tweet }}
    <hr />
    <div class="divspace">
      <form action="/remove" method="post">
        <div>
          <a href="{{ .Referer }}"><button type="button" class="btn btn-default">No</button></a>
          <button type="submit" class="btn btn-danger">Yes</button>
        </div>
        <div><input name="id" type="hidden" value="{{ .Tweet.Id }}" /></div>
        <div><input name="referer" type="hidden" value="{{ .Referer }}" /></div>
        <div><input name="confirm" type="hidden" value="true" /></div>
      </form>
    </div>
  </div>
</body>
</html>