<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{{ template "head.tmpl" }}
<body>
  <div class="c1">
    <h1>Twidoka</h1>
    <div class="divspace"><hr /></div>
    <div class="divspace"><a href="/authorize"><img src="/static/sign-in.png" /></a></div>
  </duv>
</body>
</html>
