<div class="tweet">
  <div class="avatar">
    <img src="{{ .ProfileImageUrl }}" />
  </div>

  <div class="content">
    <div>
      <a href="/user?u={{ .ScreenName }}">{{ .ScreenName }}</a>({{ .Name }})
    </div>
    <div class="content-text">{{ .Text }}</div>
    <div>
      {{ .CreateTime }}
      {{ if .ShowOperator }}
      <a href="/reply?id={{ .Id }}">@</a>
      <a href="/retweet?id={{ .Id }}">RT</a>
      <a href="/details?id={{ .Id }}">Details</a>
      {{ if .ShowRemove }}
      <a href="/remove?id={{ .Id }}">RM</a>
      {{ end }}
      {{ end }}
    </div>
  </div>
  <div style="clear: both;"></div>
</div>
