<div class="userinfo">
  <p><img src="{{ .ProfileImageUrl }}" /></p>
  <p><a href="/user?n={{ .ScreenName }}">@{{ .ScreenName }}</a>({{ .Name }})</p>
  <p>Bio: {{ .Description }}</p>
  <p>Friends: {{ .FriendsCount }}</p>
  <p>Followers: {{ .FollowersCount }}</p>
  <p>Tweets: {{ .StatusesCount }}</p>
  <p>Location: {{ .Location }}</p>
  <p>Created at: {{ .CreatedAt }}</p>
</div>